<launch>
    <node 
        name="xz_controller_node" 
        pkg="manipulator_controller_cpp" 
        type="xz_controller_node" 
        respawn="true"
        output="screen">
        <rosparam command="load" file="$(find manipulator_controller_cpp)/config/parameters.yaml" />
    </node>

    <node 
        name="setpoint_publisher_node" 
        pkg="manipulator_controller_cpp" 
        type="setpoint_publisher_node" 
        respawn="true"
        output="screen">
    </node>

</launch>